.confirmDelete {
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
  }

  p {
    color: var(--color-grey-500);
    margin-bottom: 1.2rem;

    span {
      font-weight: 700;
    }
  }

  div {
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;

    button {
      font-size: 1.4rem;
      padding: 1.2rem 1.6rem;
      font-weight: 500;
      border: none;
      border-radius: var(--border-radius-sm);
      box-shadow: var(--shadow-sm);

      &.cancel-btn {
        color: var(--color-grey-600);
        background: var(--color-grey-0);
        border: 1px solid var(--color-grey-200);

        &:hover {
          background-color: var(--color-grey-50);
        }
      }

      &.delete-btn {
        color: var(--color-red-100);
        background-color: var(--color-red-700);

        &:hover {
          background-color: var(--color-red-800);
        }
      }
    }
  }
}
