form {
  padding: 2.4rem 4rem;
  overflow: hidden;
  font-size: 1.4rem;

  // No Modal styles
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);

  // Modal styles
  //     width: 80rem;
}
